In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv('unicorns.csv')

In [3]:
df.head(30)

,Updated at,Company,Crunchbase Url,Last Valuation (Billion $),Date Joined,Year Joined,City,Country,Industry,Investors,Company Website
0,"10/31/2022, 2:37:05 AM",Esusu,https://www.cbinsights.com/company/esusu,1.00,1/27/2022,2022,New York,United States,Fintech,"[""Next Play Ventures"",""Zeal Capital Partners"",...",NaN
1,"10/31/2022, 2:37:05 AM",Fever Labs,https://www.cbinsights.com/company/fever-labs,1.00,1/26/2022,2022,New York,United States,Internet software & services,"[""Accel"",""14W"",""GS Growth""]",NaN
2,"10/31/2022, 2:37:04 AM",Minio,https://www.cbinsights.com/company/minio,1.00,1/26/2022,2022,Palo Alto,United States,Data management & analytics,"[""General Catalyst"",""Nexus Venture Partners"",""...",NaN
3,"10/31/2022, 2:37:04 AM",Darwinbox,https://www.cbinsights.com/company/darwinbox,1.00,1/25/2022,2022,Hyderabad,India,Internet software & services,"[""Lightspeed India Partners"",""Sequoia Capital ...",NaN
4,"10/31/2022, 2:37:04 AM",Pentera,https://www.cbinsights.com/company/pcysys,1.00,1/11/2022,2022,Petah Tikva,Israel,Cybersecurity,"[""AWZ Ventures"",""Blackstone"",""Insight Partners""]",NaN
5,"10/31/2022, 2:37:04 AM",Placer.ai,https://www.cbinsights.com/company/placerai,1.00,1/12/2022,2022,Los Altos,United States,Artificial intelligence,"[""Fifth Wall Ventures"",""JBV Capital"",""Array Ve...",NaN
6,"10/31/2022, 2:36:06 AM",CAIS,https://www.cbinsights.com/company/cais,1.10,1/11/2022,2022,New York,United States,Fintech,"[""Franklin Templeton"",""Motive Partners. Apollo...",NaN
7,"10/31/2022, 2:36:04 AM",Chief,https://www.cbinsights.com/company/chief-1,1.10,3/31/2022,2022,New York,United States,Other,"[""General Catalyst"",""Inspired Capital"",""Flybri...",NaN
8,"10/31/2022, 2:34:41 AM",Ankorstore,https://www.cbinsights.com/company/ankorstore,1.98,1/10/2022,2022,Paris,France,E-commerce & direct-to-consumer,"[""Global Founders Capital"",""Aglae Ventures"",""A...",NaN
9,"10/31/2022, 2:37:16 AM",Unstoppable Domains,https://www.cbinsights.com/company/unstoppable...,1.00,7/27/2022,2022,Las Vegas,United States,Internet software & services,"[""Boost VC"",""Draper Associates"",""Gaingels""]",NaN
10,"10/31/2022, 2:37:16 AM",SingleStore,https://www.cbinsights.com/company/memsql,1.00,7/12/2022,2022,San Francisco,United States,Data management & analytics,"[""Google Ventures"",""Accel"",""Data Collective""]",NaN
11,"10/31/2022, 2:37:16 AM",VulcanForms,https://www.cbinsights.com/company/vulcanforms,1.00,7/5/2022,2022,Burlington,United States,"Supply chain, logistics, & delivery","[""Eclipse Ventures"",""D1 Capital Partners"",""Ind...",NaN
12,"10/31/2022, 2:37:15 AM",FourKites,https://www.cbinsights.com/company/fourkites,1.00,6/21/2022,2022,Chicago,United States,"Supply chain, logistics, & delivery","[""Hyde Park Venture Partners"",""Bain Capital Ve...",NaN
13,"10/31/2022, 2:37:15 AM",LeadSquared,https://www.cbinsights.com/company/leadsquared,1.00,6/21/2022,2022,Bengaluru,India,Internet software & services,"[""Gaja Capital Partners"",""Stakeboat Capital"",""...",NaN
14,"10/31/2022, 2:37:15 AM",Vayyar,https://www.cbinsights.com/company/vayyar-imaging,1.00,6/6/2022,2022,Yehud,Israel,Hardware,"[""Battery Ventures"",""Bessemer Venture Partners...",NaN
15,"10/31/2022, 2:37:15 AM",JupiterOne,https://www.cbinsights.com/company/jupiterone,1.00,6/2/2022,2022,Morrisville,United States,Cybersecurity,"[""Bain Capital Ventures"",""Splunk Ventures"",""Ci...",NaN
16,"10/31/2022, 2:37:15 AM",Immuta,https://www.cbinsights.com/company/immuta,1.00,6/8/2022,2022,Boston,United States,Data management & analytics,"[""DFJ Growth Fund"",""Dell Technologies Capital""...",NaN
17,"10/31/2022, 2:37:14 AM",CareBridge,https://www.cbinsights.com/company/carebridge,1.00,6/8/2022,2022,Nashville,United States,Health,"[""Bain Capital Ventures"",""Splunk Ventures"",""Ci...",NaN
18,"10/31/2022, 2:37:14 AM",Glean,https://www.cbinsights.com/company/glean-2,1.00,5/18/2022,2022,Palo Alto,United States,Internet software & services,"[""General Catalyst"",""Kleiner Perkins Caufield ...",NaN
19,"10/31/2022, 2:37:14 AM",Habi,https://www.cbinsights.com/company/habi,1.00,5/11/2022,2022,Bogota,Colombia,Fintech,"[""Homebrew"",""Inspired Capital"",""Tiger Global M...",NaN
20,"10/31/2022, 2:37:14 AM",Remarkable,https://www.cbinsights.com/company/remarkable,1.00,5/10/2022,2022,Oslo,Norway,Internet software & services,"[""Spark Capital""]",NaN
21,"10/31/2022, 2:37:14 AM",Opn,https://www.cbinsights.com/company/omise,1.00,5/9/2022,2022,Tokyo,Japan,Fintech,"[""Sinar Mas Digital Ventures"",""JIC Venture Gro...",NaN
22,"10/31/2022, 2:37:13 AM",Polarium,https://www.cbinsights.com/company/polarium,1.00,5/3/2022,2022,Kista,Sweden,Other,"[""AMF Pensionsforsakring""]",NaN
23,"10/31/2022, 2:37:13 AM",Open,https://www.cbinsights.com/company/open,1.00,5/2/2022,2022,Bengaluru,India,Fintech,"[""3one4 Capital Partners"",""Tiger Global Manage...",NaN
24,"10/31/2022, 2:37:13 AM",Taxfix,https://www.cbinsights.com/company/taxfix,1.00,4/28/2022,2022,Berlin,Germany,Fintech,"[""Valar Ventures"",""Index Ventures"",""Creandum""]",NaN
25,"10/31/2022, 2:37:13 AM",Divergent 3D,https://www.cbinsights.com/company/divergent-m...,1.00,4/25/2022,2022,Torrance,United States,Auto & transportation,"[""Hedosophia"",""Horizons Ventures"",""Alumni Vent...",NaN
26,"10/31/2022, 2:37:12 AM",Factorial,https://www.cbinsights.com/company/factorial,1.00,10/11/2022,2022,Barcelona,Spain,Internet software & services,"[""K Fund"",""Creandum"",""CRV""]",NaN
27,"10/31/2022, 2:37:12 AM",UPSIDE Foods,https://www.cbinsights.com/company/memphis-meats,1.00,4/21/2022,2022,Berkeley,United States,Other,"[""Battery Ventures"",""Adams Street Partners"",""C...",NaN
28,"10/31/2022, 2:37:12 AM",Instabox,https://www.cbinsights.com/company/instabox,1.00,4/21/2022,2022,Stockholm,Sweden,"Supply chain, logistics, & delivery","[""Creades"",""EQT Ventures"",""Verdane Capital""]",NaN
29,"10/31/2022, 2:37:12 AM",NexHealth,https://www.cbinsights.com/company/nexhealth,1.00,4/21/2022,2022,San Francisco,United States,Health,"[""iSeed Ventures"",""Point Nine Capital"",""Buckle...",NaN

In [4]:
df.columns

Index(['Updated at', 'Company', 'Crunchbase Url', 'Last Valuation (Billion $)',
       'Date Joined', 'Year Joined', 'City', 'Country', 'Industry',
       'Investors', 'Company Website'],
      dtype='object')

In [5]:
df.tail(30)

,Updated at,Company,Crunchbase Url,Last Valuation (Billion $),Date Joined,Year Joined,City,Country,Industry,Investors,Company Website
1169,"10/31/2022, 2:33:59 AM",Illumio,https://www.cbinsights.com/company/illumio,2.75,4/14/2015,2015,Sunnyvale,United States,Cybersecurity,"[""Data Collective"",""Formation 8"",""General Cata...",NaN
1170,"10/31/2022, 2:33:48 AM",Yixia,https://www.cbinsights.com/company/xuanyixia,3.00,11/24/2015,2015,Beijing,China,Mobile & telecommunications,"[""Sequoia Capital China"",""Sina Weibo"",""Kleiner...",NaN
1171,"10/31/2022, 2:33:45 AM",Thumbtack,https://www.cbinsights.com/company/thumbtack,3.20,9/29/2015,2015,San Francisco,United States,E-commerce & direct-to-consumer,"[""Tiger Global"",""Sequoia Capital"",""Google Capi...",NaN
1172,"10/31/2022, 2:33:08 AM",Royole Corporation,https://www.cbinsights.com/company/royole-corp...,6.00,8/18/2015,2015,Shenzhen,China,Hardware,"[""Warmsun Holding"",""IDG Capital Partners""]",NaN
1173,"10/31/2022, 2:33:03 AM",We Doctor,https://www.cbinsights.com/company/guahaohangz...,7.00,9/22/2015,2015,Hangzhou,China,Health,"[""Tencent"",""Morningside Group""]",NaN
1174,"10/31/2022, 2:32:55 AM",Tanium,https://www.cbinsights.com/company/tanium,9.00,3/31/2015,2015,Kirkland,United States,Cybersecurity,"[""Andreessen Horowitz"",""Nor-Cal Invest"",""TPG G...",NaN
1175,"10/31/2022, 2:32:51 AM",Gusto,https://www.cbinsights.com/company/zenpayroll,10.00,12/18/2015,2015,San Francisco,United States,Fintech,"[""General Catalyst Partners"",""Google Ventures""...",NaN
1176,"10/31/2022, 2:32:44 AM",DJI Innovations,https://www.cbinsights.com/company/dji,15.00,1/23/2015,2015,Shenzhen,China,Hardware,"[""Accel Partners"",""Sequoia Capital""]",NaN
1177,"10/31/2022, 2:36:14 AM",InMobi,https://www.cbinsights.com/company/inmobi,1.00,12/2/2014,2014,Bengaluru,India,Mobile & telecommunications,"[""Kleiner Perkins Caufield & Byers"",""Softbank ...",NaN
1178,"10/31/2022, 2:36:13 AM",TechStyle Fashion Group,https://www.cbinsights.com/company/justfab,1.00,8/29/2014,2014,El Segundo,United States,E-commerce & direct-to-consumer,"[""Matrix Partners"",""Passport Capital"",""Rho Ven...",NaN
1179,"10/31/2022, 2:36:13 AM",Snapdeal,https://www.cbinsights.com/company/snapdeal,1.00,5/21/2014,2014,New Delhi,India,E-commerce & direct-to-consumer,"[""SoftBankGroup"",""Blackrock"",""Alibaba Group""]",NaN
1180,"10/31/2022, 2:35:58 AM",TangoMe,https://www.cbinsights.com/company/tangome,1.10,3/20/2014,2014,Mountain View,United States,Mobile & telecommunications,"[""Draper Fisher Jurtson"",""Qualcomm Ventures"",""...",NaN
1181,"10/31/2022, 2:35:20 AM",Koudai,https://www.cbinsights.com/company/koudai-gouwu,1.40,10/23/2014,2014,Beijing,China,E-commerce & direct-to-consumer,"[""New Enterprise Associates"",""Tiger Global man...",NaN
1182,"10/31/2022, 2:34:35 AM",Magic Leap,https://www.cbinsights.com/company/magic-leap,2.00,10/21/2014,2014,Plantation,United States,Hardware,"[""Obvious Ventures"",""Qualcomm Ventures"",""Andre...",NaN
1183,"10/31/2022, 2:33:34 AM",Intarcia Therapeutics,https://www.cbinsights.com/company/intarcia-th...,3.80,4/1/2014,2014,Boston,United States,Health,"[""New Enterprise Associates"",""New Leaf Venture...",NaN
1184,"10/31/2022, 2:33:28 AM",Yello Mobile,https://www.cbinsights.com/company/yello-mobile,4.00,11/11/2014,2014,Seoul,South Korea,Mobile & telecommunications,"[""Formation 8""]",NaN
1185,"10/31/2022, 2:33:28 AM",Houzz,https://www.cbinsights.com/company/houzz,4.00,9/30/2014,2014,Palo Alto,United States,E-commerce & direct-to-consumer,"[""New Enterprise Associates"",""Sequoia Capital""...",NaN
1186,"10/31/2022, 2:33:06 AM",Ola Cabs,https://www.cbinsights.com/company/ani-technol...,7.50,10/27/2014,2014,Bengaluru,India,Auto & transportation,"[""Accel Partners"",""SoftBank Group"",""Sequoia Ca...",NaN
1187,"10/31/2022, 2:32:40 AM",Instacart,https://www.cbinsights.com/company/instacart,39.00,12/30/2014,2014,San Francisco,United States,"Supply chain, logistics, & delivery","[""Khosla Ventures"",""Kleiner Perkins Caufield &...",NaN
1188,"10/31/2022, 2:32:39 AM",Stripe,https://www.cbinsights.com/company/stripe,95.00,1/23/2014,2014,San Francisco,United States,Fintech,"[""Khosla Ventures"",""LowercaseCapital"",""capitalG""]",NaN
1189,"10/31/2022, 2:36:12 AM",Lookout,https://www.cbinsights.com/company/lookout,1.00,10/10/2013,2013,San Francisco,United States,Cybersecurity,"[""Accel Partners"",""Greylock Partners"",""Lowerca...",NaN
1190,"10/31/2022, 2:35:03 AM",Mu Sigma,https://www.cbinsights.com/company/mu-sigma,1.50,2/7/2013,2013,Northbrook,United States,Data management & analytics,"[""Sequoia Capital"",""General Atlantic""]",NaN
1191,"10/31/2022, 2:33:02 AM",Automattic,https://www.cbinsights.com/company/automattic,7.50,5/27/2013,2013,San Francisco,United States,Internet software & services,"[""Insight Venture Partners"",""Lowercase Capital...",NaN
1192,"10/31/2022, 2:34:24 AM",Avant,https://www.cbinsights.com/company/avant-credit,2.00,12/17/2012,2012,Chicago,United States,Artificial intelligence,"[""RRE Ventures"",""Tiger Global"",""August Capital""]",NaN
1193,"10/31/2022, 2:34:24 AM",Trendy Group International,https://www.cbinsights.com/company/trendy-grou...,2.00,2/13/2012,2012,Kowloon,Hong Kong,Consumer & retail,"[""L Capital Partners""]",NaN
1194,"10/31/2022, 2:32:42 AM",Fanatics,https://www.cbinsights.com/company/fanatics,27.00,6/6/2012,2012,Jacksonville,United States,E-commerce & direct-to-consumer,"[""SoftBank Group"",""Andreessen Horowitz"",""Temas...",NaN
1195,"10/31/2022, 2:32:38 AM",SpaceX,https://www.cbinsights.com/company/space-explo...,127.00,12/1/2012,2012,Hawthorne,United States,Other,"[""Founders Fund"",""Draper Fisher Jurvetson"",""Ro...",NaN
1196,"10/31/2022, 2:33:10 AM",Vice Media,https://www.cbinsights.com/company/vice-media,5.70,4/2/2011,2011,Brooklyn,United States,Internet software & services,"[""Technology Crossover Ventures"",""A&E Televisi...",NaN
1197,"10/31/2022, 2:33:05 AM",Klarna,https://www.cbinsights.com/company/klarna,6.70,12/12/2011,2011,Stockholm,Sweden,Fintech,"[""Institutional Venture Partners"",""Sequoia Cap...",NaN
1198,"10/31/2022, 2:35:27 AM",Veepee,https://www.cbinsights.com/company/vente-privee,1.38,7/2/2007,2007,La Plaine Saint-Denis,France,E-commerce & direct-to-consumer,"[""Summit Partners"",""Qatar Holding""]",NaN

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1199 entries, 0 to 1198
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Updated at                  1199 non-null   object
 1   Company                     1199 non-null   object
 2   Crunchbase Url              1199 non-null   object
 3   Last Valuation (Billion $)  1199 non-null   float64
 4   Date Joined                 1199 non-null   object
 5   Year Joined                 1199 non-null   int64
 6   City                        1181 non-null   object
 7   Country                     1199 non-null   object
 8   Industry                    1199 non-null   object
 9   Investors                   1199 non-null   object
 10  Company Website             0 non-null      float64
dtypes: float64(2), int64(1), object(8)
memory usage: 103.2+ KB

In [7]:
df.drop(['Company Website','Crunchbase Url'], axis=1, inplace=True)

In [8]:
df.isnull().sum()

Updated at                     0
Company                        0
Last Valuation (Billion $)     0
Date Joined                    0
Year Joined                    0
City                          18
Country                        0
Industry                       0
Investors                      0
dtype: int64

In [9]:
df.loc[df.City.isnull(), ['Company','Country','City','Industry']]

,Company,Country,City,Industry
186,FinAccel,Singapore,NaN,Fintech
222,Coda Payments,Singapore,NaN,Fintech
250,ONE,Singapore,NaN,Internet software & services
302,Ninja Van,Singapore,NaN,"Supply chain, logistics, & delivery"
314,Cider,Hong Kong,NaN,E-commerce & direct-to-consumer
325,NIUM,Singapore,NaN,Fintech
346,Carro,Singapore,NaN,E-commerce & direct-to-consumer
351,Matrixport,Singapore,NaN,Fintech
379,PatSnap,Singapore,NaN,Internet software & services
409,Carousell,Singapore,NaN,E-commerce & direct-to-consumer
526,bolttech,Singapore,NaN,Fintech
582,Advance Intelligence Group,Singapore,NaN,Artificial intelligence
645,Moglix,Singapore,NaN,E-commerce & direct-to-consumer
660,Amber Group,Hong Kong,NaN,Fintech
774,FTX,Bahamas,NaN,Fintech
836,HyalRoute,Singapore,NaN,Mobile & telecommunications
918,Trax,Singapore,NaN,Artificial intelligence
1081,WeLab,Hong Kong,NaN,Fintech

In [10]:
df.loc[(df.Country == 'Singapore') | (df.Country == 'Hong Kong') | (df.Country == 'Bahamas') ,['Company','Country','City','Industry']]

,Company,Country,City,Industry
186,FinAccel,Singapore,NaN,Fintech
214,Babel Finance,Hong Kong,Hong Kong,Fintech
222,Coda Payments,Singapore,NaN,Fintech
250,ONE,Singapore,NaN,Internet software & services
302,Ninja Van,Singapore,NaN,"Supply chain, logistics, & delivery"
314,Cider,Hong Kong,NaN,E-commerce & direct-to-consumer
325,NIUM,Singapore,NaN,Fintech
346,Carro,Singapore,NaN,E-commerce & direct-to-consumer
351,Matrixport,Singapore,NaN,Fintech
379,PatSnap,Singapore,NaN,Internet software & services
409,Carousell,Singapore,NaN,E-commerce & direct-to-consumer
526,bolttech,Singapore,NaN,Fintech
582,Advance Intelligence Group,Singapore,NaN,Artificial intelligence
645,Moglix,Singapore,NaN,E-commerce & direct-to-consumer
660,Amber Group,Hong Kong,NaN,Fintech
774,FTX,Bahamas,NaN,Fintech
836,HyalRoute,Singapore,NaN,Mobile & telecommunications
918,Trax,Singapore,NaN,Artificial intelligence
976,Lalamove,Hong Kong,Cheung Sha Wan,"Supply chain, logistics, & delivery"
1010,Klook,Hong Kong,Central,Travel
1081,WeLab,Hong Kong,NaN,Fintech
1193,Trendy Group International,Hong Kong,Kowloon,Consumer & retail

In [11]:
df.iloc[[186,222,250,302,325,346,351,379,409,526,582,645,836,918],[5]]='Singapore'

In [12]:
df.iloc[[660,214,314,1081],[5]]='Central'

In [13]:
df.iloc[[774],[5]]='Nassau'

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1199 entries, 0 to 1198
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Updated at                  1199 non-null   object
 1   Company                     1199 non-null   object
 2   Last Valuation (Billion $)  1199 non-null   float64
 3   Date Joined                 1199 non-null   object
 4   Year Joined                 1199 non-null   int64
 5   City                        1199 non-null   object
 6   Country                     1199 non-null   object
 7   Industry                    1199 non-null   object
 8   Investors                   1199 non-null   object
dtypes: float64(1), int64(1), object(7)
memory usage: 84.4+ KB

In [15]:
df.nunique()

Updated at                     279
Company                       1196
Last Valuation (Billion $)     225
Date Joined                    708
Year Joined                     13
City                           283
Country                         49
Industry                        20
Investors                     1183
dtype: int64

In [16]:
df['Updated at'].unique()

array(['10/31/2022, 2:37:05 AM', '10/31/2022, 2:37:04 AM',
       '10/31/2022, 2:36:06 AM', '10/31/2022, 2:36:04 AM',
       '10/31/2022, 2:34:41 AM', '10/31/2022, 2:37:16 AM',
       '10/31/2022, 2:37:15 AM', '10/31/2022, 2:37:14 AM',
       '10/31/2022, 2:37:13 AM', '10/31/2022, 2:37:12 AM',
       '10/31/2022, 2:37:11 AM', '10/31/2022, 2:37:10 AM',
       '10/31/2022, 2:37:09 AM', '10/31/2022, 2:37:08 AM',
       '10/31/2022, 2:37:07 AM', '10/31/2022, 2:37:06 AM',
       '10/31/2022, 2:37:03 AM', '10/31/2022, 2:36:13 AM',
       '10/31/2022, 2:36:12 AM', '10/31/2022, 2:36:11 AM',
       '10/31/2022, 2:36:10 AM', '10/31/2022, 2:36:09 AM',
       '10/31/2022, 2:36:08 AM', '10/31/2022, 2:36:07 AM',
       '10/31/2022, 2:36:05 AM', '10/31/2022, 2:36:01 AM',
       '10/31/2022, 2:35:57 AM', '10/31/2022, 2:35:56 AM',
       '10/31/2022, 2:35:54 AM', '10/31/2022, 2:35:52 AM',
       '10/31/2022, 2:35:51 AM', '10/31/2022, 2:35:50 AM',
       '10/31/2022, 2:35:44 AM', '10/31/2022, 2:35:43 AM',
       '10/31/2022, 2:35:42 AM', '10/31/2022, 2:35:41 AM',
       '10/31/2022, 2:35:40 AM', '10/31/2022, 2:35:38 AM',
       '10/31/2022, 2:35:37 AM', '10/31/2022, 2:35:36 AM',
       '10/31/2022, 2:35:35 AM', '10/31/2022, 2:35:34 AM',
       '10/31/2022, 2:35:33 AM', '10/31/2022, 2:35:31 AM',
       '10/31/2022, 2:35:30 AM', '10/31/2022, 2:35:29 AM',
       '10/31/2022, 2:35:28 AM', '10/31/2022, 2:35:27 AM',
       '10/31/2022, 2:35:26 AM', '10/31/2022, 2:35:25 AM',
       '10/31/2022, 2:35:24 AM', '10/31/2022, 2:35:20 AM',
       '10/31/2022, 2:35:18 AM', '10/31/2022, 2:35:16 AM',
       '10/31/2022, 2:35:15 AM', '10/31/2022, 2:35:14 AM',
       '10/31/2022, 2:35:13 AM', '10/31/2022, 2:35:03 AM',
       '10/31/2022, 2:35:02 AM', '10/31/2022, 2:35:00 AM',
       '10/31/2022, 2:34:59 AM', '10/31/2022, 2:34:58 AM',
       '10/31/2022, 2:34:56 AM', '10/31/2022, 2:34:53 AM',
       '10/31/2022, 2:34:52 AM', '10/31/2022, 2:34:51 AM',
       '10/31/2022, 2:34:49 AM', '10/31/2022, 2:34:48 AM',
       '10/31/2022, 2:34:47 AM', '10/31/2022, 2:34:44 AM',
       '10/31/2022, 2:34:43 AM', '10/31/2022, 2:34:40 AM',
       '10/31/2022, 2:34:39 AM', '10/31/2022, 2:34:38 AM',
       '10/31/2022, 2:34:30 AM', '10/31/2022, 2:34:24 AM',
       '10/31/2022, 2:34:23 AM', '10/31/2022, 2:34:19 AM',
       '10/31/2022, 2:34:18 AM', '10/31/2022, 2:34:17 AM',
       '10/31/2022, 2:34:12 AM', '10/31/2022, 2:34:08 AM',
       '10/31/2022, 2:34:07 AM', '10/31/2022, 2:34:03 AM',
       '10/31/2022, 2:34:01 AM', '10/31/2022, 2:34:00 AM',
       '10/31/2022, 2:33:56 AM', '10/31/2022, 2:33:55 AM',
       '10/31/2022, 2:33:47 AM', '10/31/2022, 2:33:37 AM',
       '10/31/2022, 2:33:33 AM', '10/31/2022, 2:33:26 AM',
       '10/31/2022, 2:33:20 AM', '10/31/2022, 2:33:17 AM',
       '10/31/2022, 2:33:11 AM', '10/31/2022, 2:32:53 AM',
       '10/31/2022, 2:32:43 AM', '10/31/2022, 2:33:25 AM',
       '10/31/2022, 2:37:02 AM', '10/31/2022, 2:37:01 AM',
       '10/31/2022, 2:37:00 AM', '10/31/2022, 2:36:59 AM',
       '10/31/2022, 2:36:58 AM', '10/31/2022, 2:36:57 AM',
       '10/31/2022, 2:36:56 AM', '10/31/2022, 2:36:55 AM',
       '10/31/2022, 2:36:54 AM', '10/31/2022, 2:36:53 AM',
       '10/31/2022, 2:36:52 AM', '10/31/2022, 2:36:51 AM',
       '10/31/2022, 2:36:50 AM', '10/31/2022, 2:36:49 AM',
       '10/31/2022, 2:36:48 AM', '10/31/2022, 2:36:47 AM',
       '10/31/2022, 2:36:46 AM', '10/31/2022, 2:36:45 AM',
       '10/31/2022, 2:36:44 AM', '10/31/2022, 2:36:43 AM',
       '10/31/2022, 2:36:42 AM', '10/31/2022, 2:36:41 AM',
       '10/31/2022, 2:36:40 AM', '10/31/2022, 2:36:39 AM',
       '10/31/2022, 2:36:38 AM', '10/31/2022, 2:36:37 AM',
       '10/31/2022, 2:36:36 AM', '10/31/2022, 2:36:35 AM',
       '10/31/2022, 2:36:34 AM', '10/31/2022, 2:36:33 AM',
       '10/31/2022, 2:36:32 AM', '10/31/2022, 2:36:31 AM',
       '10/31/2022, 2:36:30 AM', '10/31/2022, 2:36:03 AM',
       '10/31/2022, 2:36:02 AM', '10/31/2022, 2:36:00 AM',
       '10/31/2022, 2:35:59 AM', '10/31/2022, 2:35:55 AM',
       '10/31/2022, 2:35:53 AM', '10/31/2022, 2:35:49 AM',
       '10/31/2022, 2:35:48 AM', '10/31/2022, 2:35:47 AM',
       '10/31/2022, 2:35:46 AM', '10/31/2022, 2:35:45 AM',
       '10/31/2022, 2:35:39 AM', '10/31/2022, 2:35:32 AM',
       '10/31/2022, 2:35:23 AM', '10/31/2022, 2:35:22 AM',
       '10/31/2022, 2:35:19 AM', '10/31/2022, 2:35:17 AM',
       '10/31/2022, 2:35:12 AM', '10/31/2022, 2:35:11 AM',
       '10/31/2022, 2:35:10 AM', '10/31/2022, 2:35:09 AM',
       '10/31/2022, 2:35:08 AM', '10/31/2022, 2:35:07 AM',
       '10/31/2022, 2:35:06 AM', '10/31/2022, 2:35:01 AM',
       '10/31/2022, 2:34:57 AM', '10/31/2022, 2:34:55 AM',
       '10/31/2022, 2:34:50 AM', '10/31/2022, 2:34:46 AM',
       '10/31/2022, 2:34:45 AM', '10/31/2022, 2:34:42 AM',
       '10/31/2022, 2:34:37 AM', '10/31/2022, 2:34:36 AM',
       '10/31/2022, 2:34:35 AM', '10/31/2022, 2:34:34 AM',
       '10/31/2022, 2:34:33 AM', '10/31/2022, 2:34:32 AM',
       '10/31/2022, 2:34:31 AM', '10/31/2022, 2:34:29 AM',
       '10/31/2022, 2:34:22 AM', '10/31/2022, 2:34:21 AM',
       '10/31/2022, 2:34:20 AM', '10/31/2022, 2:34:16 AM',
       '10/31/2022, 2:34:15 AM', '10/31/2022, 2:34:14 AM',
       '10/31/2022, 2:34:13 AM', '10/31/2022, 2:34:11 AM',
       '10/31/2022, 2:34:10 AM', '10/31/2022, 2:34:09 AM',
       '10/31/2022, 2:34:06 AM', '10/31/2022, 2:34:05 AM',
       '10/31/2022, 2:34:04 AM', '10/31/2022, 2:34:02 AM',
       '10/31/2022, 2:33:59 AM', '10/31/2022, 2:33:58 AM',
       '10/31/2022, 2:33:57 AM', '10/31/2022, 2:33:54 AM',
       '10/31/2022, 2:33:53 AM', '10/31/2022, 2:33:52 AM',
       '10/31/2022, 2:33:51 AM', '10/31/2022, 2:33:48 AM',
       '10/31/2022, 2:33:46 AM', '10/31/2022, 2:33:45 AM',
       '10/31/2022, 2:33:44 AM', '10/31/2022, 2:33:43 AM',
       '10/31/2022, 2:33:42 AM', '10/31/2022, 2:33:41 AM',
       '10/31/2022, 2:33:40 AM', '10/31/2022, 2:33:39 AM',
       '10/31/2022, 2:33:38 AM', '10/31/2022, 2:33:36 AM',
       '10/31/2022, 2:33:35 AM', '10/31/2022, 2:33:32 AM',
       '10/31/2022, 2:33:31 AM', '10/31/2022, 2:33:30 AM',
       '10/31/2022, 2:33:28 AM', '10/31/2022, 2:33:27 AM',
       '10/31/2022, 2:33:22 AM', '10/31/2022, 2:33:19 AM',
       '10/31/2022, 2:33:18 AM', '10/31/2022, 2:33:16 AM',
       '10/31/2022, 2:33:15 AM', '10/31/2022, 2:33:14 AM',
       '10/31/2022, 2:33:12 AM', '10/31/2022, 2:33:10 AM',
       '10/31/2022, 2:33:09 AM', '10/31/2022, 2:33:08 AM',
       '10/31/2022, 2:33:07 AM', '10/31/2022, 2:33:04 AM',
       '10/31/2022, 2:33:03 AM', '10/31/2022, 2:33:01 AM',
       '10/31/2022, 2:33:00 AM', '10/31/2022, 2:32:59 AM',
       '10/31/2022, 2:32:58 AM', '10/31/2022, 2:32:51 AM',
       '10/31/2022, 2:32:50 AM', '10/31/2022, 2:32:49 AM',
       '10/31/2022, 2:32:48 AM', '10/31/2022, 2:32:46 AM',
       '10/31/2022, 2:32:45 AM', '10/31/2022, 2:32:42 AM',
       '10/31/2022, 2:36:29 AM', '10/31/2022, 2:36:28 AM',
       '10/31/2022, 2:36:27 AM', '10/31/2022, 2:34:28 AM',
       '10/31/2022, 2:34:27 AM', '10/31/2022, 2:33:50 AM',
       '10/31/2022, 2:33:34 AM', '10/31/2022, 2:33:24 AM',
       '10/31/2022, 2:33:21 AM', '10/31/2022, 2:33:13 AM',
       '10/31/2022, 2:33:06 AM', '10/31/2022, 2:33:05 AM',
       '10/31/2022, 2:33:02 AM', '10/31/2022, 2:32:57 AM',
       '10/31/2022, 2:32:56 AM', '10/31/2022, 2:32:54 AM',
       '10/31/2022, 2:32:52 AM', '10/31/2022, 2:36:26 AM',
       '10/31/2022, 2:36:25 AM', '10/31/2022, 2:36:24 AM',
       '10/31/2022, 2:35:58 AM', '10/31/2022, 2:35:05 AM',
       '10/31/2022, 2:34:26 AM', '10/31/2022, 2:33:29 AM',
       '10/31/2022, 2:33:23 AM', '10/31/2022, 2:32:55 AM',
       '10/31/2022, 2:32:47 AM', '10/31/2022, 2:32:41 AM',
       '10/31/2022, 2:32:40 AM', '10/31/2022, 2:36:23 AM',
       '10/31/2022, 2:36:22 AM', '10/31/2022, 2:36:21 AM',
       '10/31/2022, 2:36:20 AM', '10/31/2022, 2:35:21 AM',
       '10/31/2022, 2:34:54 AM', '10/31/2022, 2:34:25 AM',
       '10/31/2022, 2:33:49 AM', '10/31/2022, 2:32:44 AM',
       '10/31/2022, 2:32:39 AM', '10/31/2022, 2:36:19 AM',
       '10/31/2022, 2:36:18 AM', '10/31/2022, 2:36:17 AM',
       '10/31/2022, 2:35:04 AM', '10/31/2022, 2:32:38 AM',
       '10/31/2022, 2:36:16 AM', '10/31/2022, 2:36:15 AM',
       '10/31/2022, 2:36:14 AM'], dtype=object)

In [17]:
df['Data_collection_time'] = pd.to_datetime(df['Updated at'], infer_datetime_format=True).dt.date
df['Launch year'] = df['Year Joined']
df['Launch date'] = pd.to_datetime(df['Date Joined'], infer_datetime_format=True).dt.date

In [18]:
df['Updated at']

0       10/31/2022, 2:37:05 AM
1       10/31/2022, 2:37:05 AM
2       10/31/2022, 2:37:04 AM
3       10/31/2022, 2:37:04 AM
4       10/31/2022, 2:37:04 AM
                 ...
1194    10/31/2022, 2:32:42 AM
1195    10/31/2022, 2:32:38 AM
1196    10/31/2022, 2:33:10 AM
1197    10/31/2022, 2:33:05 AM
1198    10/31/2022, 2:35:27 AM
Name: Updated at, Length: 1199, dtype: object

In [19]:
df.drop(['Updated at','Year Joined','Date Joined','Investors'], axis=1, inplace=True)

In [20]:
df.nunique()

Company                       1196
Last Valuation (Billion $)     225
City                           283
Country                         49
Industry                        20
Data_collection_time             1
Launch year                     13
Launch date                    708
dtype: int64

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1199 entries, 0 to 1198
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Company                     1199 non-null   object
 1   Last Valuation (Billion $)  1199 non-null   float64
 2   City                        1199 non-null   object
 3   Country                     1199 non-null   object
 4   Industry                    1199 non-null   object
 5   Data_collection_time        1199 non-null   object
 6   Launch year                 1199 non-null   int64
 7   Launch date                 1199 non-null   object
dtypes: float64(1), int64(1), object(6)
memory usage: 75.1+ KB

In [22]:
df.Company.value_counts()

Branch              2
Bolt                2
Fabric              2
Esusu               1
Gymshark            1
                   ..
Turing              1
GlobalBees          1
UISEE Technology    1
56PINGTAI           1
Veepee              1
Name: Company, Length: 1196, dtype: int64

In [23]:
df.loc[(df.Company == 'Branch') | (df.Company == 'Bolt') | (df.Company == 'Fabric')]

,Company,Last Valuation (Billion $),City,Country,Industry,Data_collection_time,Launch year,Launch date
73,Branch,1.05,Columbus,United States,Fintech,2022-10-31,2022,2022-03-01
158,Fabric,1.50,Bellevue,United States,E-commerce & direct-to-consumer,2022-10-31,2022,2022-02-24
287,Fabric,1.00,New York,United States,"Supply chain, logistics, & delivery",2022-10-31,2021,2021-10-26
766,Bolt,11.00,San Francisco,United States,Fintech,2022-10-31,2021,2021-10-08
1043,Branch,4.00,Redwood City,United States,Mobile & telecommunications,2022-10-31,2018,2018-09-10
1060,Bolt,8.40,Tallinn,Estonia,Auto & transportation,2022-10-31,2018,2018-05-29

In [24]:
df.Industry.value_counts()

Fintech                                253
Internet software & services           231
E-commerce & direct-to-consumer        109
Health                                  95
Artificial intelligence                 75
Supply chain, logistics, & delivery     68
Other                                   64
Cybersecurity                           56
Data management & analytics             45
Mobile & telecommunications             39
Hardware                                38
Auto & transportation                   37
Edtech                                  32
Consumer & retail                       27
Travel                                  14
Artificial Intelligence                 11
Cybersecurity                            2
Auto & transportation                    1
Artificial intelligence                  1
Consumer & retail                        1
Name: Industry, dtype: int64

In [25]:
df['Industry']=df.Industry.str.replace(r'Artificial intelligence','Artificial Intelligence').str.strip()

In [26]:
df.Industry.value_counts()

Fintech                                253
Internet software & services           231
E-commerce & direct-to-consumer        109
Health                                  95
Artificial Intelligence                 87
Supply chain, logistics, & delivery     68
Other                                   64
Cybersecurity                           58
Data management & analytics             45
Mobile & telecommunications             39
Hardware                                38
Auto & transportation                   38
Edtech                                  32
Consumer & retail                       28
Travel                                  14
Name: Industry, dtype: int64

In [27]:
df.Country.value_counts()

United States           645
China                   173
India                    70
United Kingdom           47
Germany                  29
France                   24
Israel                   23
Canada                   19
South Korea              16
Brazil                   16
Singapore                14
Mexico                    8
Sweden                    8
Australia                 8
Hong Kong                 7
Netherlands               7
Indonesia                 7
Japan                     6
Ireland                   6
Switzerland               6
Norway                    5
Spain                     5
Finland                   4
Thailand                  3
Turkey                    3
Colombia                  3
Belgium                   3
United Arab Emirates      3
Austria                   2
South Africa              2
Vietnam                   2
Philippines               2
Denmark                   2
Italy                     2
Croatia                   2
Lithuania                 2
Estonia                   2
Chile                     2
Seychelles                1
Czech Republic            1
Malaysia                  1
Senegal                   1
Ecuador                   1
Nigeria                   1
Argentina                 1
Liechtenstein             1
Bahamas                   1
Luxembourg                1
Bermuda                   1
Name: Country, dtype: int64

In [28]:
df.City.value_counts().sort_values(ascending=False).head(30)

San Francisco    169
New York         115
Beijing           62
Shanghai          44
London            37
Bengaluru         31
Boston            22
Shenzhen          20
Palo Alto         20
Berlin            20
Paris             19
Chicago           17
Mountain View     17
Hangzhou          16
Seoul             15
Singapore         14
Tel Aviv          12
Sao Paulo         12
Redwood City      12
San Mateo         11
Austin            11
Seattle           10
Cambridge         10
Mumbai             9
Los Angeles        9
Sunnyvale          8
San Jose           8
Jakarta            7
Stockholm          7
Denver             7
Name: City, dtype: int64

In [29]:
df.describe()

       Last Valuation (Billion $)  Launch year
count                 1199.000000  1199.000000
mean                     3.225588  2020.158465
std                      7.601195     1.981949
min                      1.000000  2007.000000
25%                      1.100000  2019.000000
50%                      1.570000  2021.000000
75%                      3.000000  2021.000000
max                    140.000000  2022.000000

In [30]:
df.describe(include=object).transpose()

                     count unique            top  freq
Company               1199   1196         Branch     2
City                  1199    283  San Francisco   169
Country               1199     49  United States   645
Industry              1199     15        Fintech   253
Data_collection_time  1199      1     2022-10-31  1199
Launch date           1199    708     2021-07-13     9

In [34]:
df.drop([1121, 1195,1079,1181], inplace=True)

In [37]:
df.drop([246,1188,1078,982,1187,981,1077,774,1076,1076,1194,980,1120,1142,773,246], inplace=True)

In [39]:
df.describe(include='all')

,Company,Last Valuation (Billion $),City,Country,Industry,Data_collection_time,Launch year,Launch date
count,1181,1181.000000,1181,1181,1181,1181,1181.000000,1181
unique,1178,NaN,279,48,15,1,NaN,694
top,Branch,NaN,San Francisco,United States,Fintech,2022-10-31,NaN,2021-07-13
freq,2,NaN,164,637,248,1181,NaN,9
mean,NaN,2.556376,NaN,NaN,NaN,NaN,2020.204064,NaN
std,NaN,2.436441,NaN,NaN,NaN,NaN,1.929218,NaN
min,NaN,1.000000,NaN,NaN,NaN,NaN,2007.000000,NaN
25%,NaN,1.080000,NaN,NaN,NaN,NaN,2019.000000,NaN
50%,NaN,1.520000,NaN,NaN,NaN,NaN,2021.000000,NaN
75%,NaN,3.000000,NaN,NaN,NaN,NaN,2021.000000,NaN
max,NaN,15.500000,NaN,NaN,NaN,NaN,2022.000000,NaN

In [118]:
df.to_csv('companies.csv')